# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# Apollo
.apollo-cli
**/introspection_response.json

## Build generated
build/
node_modules/
DerivedData
xcodebuild.log
xcode_core_build.log


## Xcconfig config files
*-Developer.xcconfig
Configuration/CI.xcconfig
PackageSettings.json


## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Python
__pycache__/
**/__pycache__/
*.py[cod]

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
.downloads/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots
.DS_Store
db.json
/.idea
.ackrc

# vim turds (thanks apple! https://github.com/apple/darwin-xnu/commit/cc0ca6d1af34cf5daee3673d1b0d770538f19ca5#diff-a084b794bc0759e7a6b77810e01874f2R6)
*.swo
*.swp
*.swn
*.swm

# don't even try to commit p12s to VC
*.p12

.gitmodules

*.orig
*.rej

# Ignore Frameworks
*.framework

# Ignore GraphQL checksum files
checksum.txt

# Ignore coverage results
coverage/
/mre-tools
markets.json
/markets.json

# Ignore swiftlint error file
swiftlint.err.log

# Ignore brew lock file: https://docs.brew.sh/Manpage
Brewfile.lock.json

# Ruby
.bundle/
